body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 0;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
.logo {
  width: 100px;
  height: auto;
  border: none;
}

section {
  background: url(images/car\ pic\ background\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
  height: 500px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}




